@mixin triangle-right($color: #ffffff) {
	content: '';
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid $color;
	border-left: 10px solid transparent;
	position: absolute;
	bottom: 0;
	left: 100%;
	transform: translateX(-50%);
}

@mixin triangle-right($color: #ffffff) {
	content: '';
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid $color;
	border-left: 10px solid transparent;
	position: absolute;
	bottom: 0;
	right: 100%;
	transform: translateX(50%);
}

@mixin before($width: 20px, $height: 20px, $path) {
	content: '';
	display: block;
	width: $width;
	height: $height;
	background-image: url($path);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

@mixin carousel {
	overflow-x: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */

	&::-webkit-scrollbar {
		/* WebKit */
		width: 0;
		height: 0;
	}
}

@mixin breakpoint-down($size) {
	@media only screen and (max-width: $size) {
		@content;
	}
}
